:root {
  --color-accent: oklch(49.33% 0.2937 272.12); 
}
body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    max-width: 110ch;
    margin-inline:auto;
    padding: 2rem;
    accent-color: var(--color-accent);
    
   }
   nav ul,
   nav li{
    display: contents;
   }

   nav{
    display: flex;
    border-bottom: 1px;border-bottom-style: solid;border-bottom-color:oklch(80% 3% 200);
    margin-bottom: 2em;
   }

   nav a {
   flex:1;
   text-align: center;
   text-decoration: none;
   color: inherit;
   text-align: center;
   padding: 0.5em;
   margin-bottom: 0.5em
   }

   nav a.current{ 
    border-bottom: 0.4em;border-bottom-style: solid;border-bottom-color:oklch(90% 3% 200);
    margin-bottom: 0.1em

   }

   nav a:hover{
    border-bottom: 0.4em;border-bottom-style: solid;border-bottom-color:var(--color-accent);
    background-color: oklch(from var(--color-accent) 95% 5% h);
    margin-bottom: 0.1em
   }

   input,
   textarea,
   button {
       font: inherit; 
   }
   
form {display: grid;grid-template-columns: auto 1fr;gap:1em}
button{grid-column: 1 / -1;}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(15em,1fr));gap: 1em;
}

article{
  display: grid;
  grid-template-rows: subgrid;grid-row: span 3;}

  h2{margin: 0;}
 
  h1{font-size: 400%;}
  p {margin-bottom: 1em;}
  h3{font-size: 200%;}

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;}

    #resume {
      max-width: 50rem;
      margin: 2rem auto;
      padding: 2rem;
      background: oklch(from var(--color-accent) 95% 5% h);
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);}

    .download-cv {
      display: inline-block;
      background-color: white;
      color: var(--color-accent); 
      border: 2px solid var(--color-accent);
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      font-weight: bold;
      text-decoration: none;
      border-radius: 8px;
      margin-bottom: 2rem; 
      }

      .download-cv:hover {
        background-color: var(--color-accent);
        color: white;
      }

      #resume h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1rem;
      color: var(--color-accent);}

      #resume h4, p {margin:0}
      #resume p {margin-bottom: 2em;}

      
      .Education {
        background-color: white;
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-left: 5px solid var(--color-accent);
        width: 100%;
        max-width: 45rem; 
        text-align: center;
        margin-bottom: 2em;
        height: fit-content;
      }

      